@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0e0e0e;
    color: #fefefe;
    font-family: 'Outfit', sans-serif;
}
::selection {
    background-color: #f9f9f9;
    color: #0e0e0e;
}